*{
    background-image: url(images/patterns.png);
    text-align: center;
    padding: 2px;
}
.main img{
    margin-top: 80px;
}
h1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-weight:900;
}
p{
    font-family:Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: 800;
}
.super{
    display: flex;
    font-family: Tahoma, sans-serif;
    margin-left: 470px;
    font-size: 11px;
    text-align: center;
}
.super img{
    display: inline-block;
    vertical-align: middle;
    background-color: ;
    
}
.super p{
    color:rgb(72, 68, 68)
    
    
}
button{
    background-color: blueviolet;
    border: 1px solid;
    border: none;
    font-size: large;
    padding: 12px;
    width:17%;
    border-radius: 5px;
    margin-top:25px ;
}


